[submodule "linhan-zhang-fe-ecc-dssb-IS21-code-challenge-req101408"]
	path = linhan-zhang-fe-ecc-dssb-IS21-code-challenge-req101408
	url = https://github.com/lennihanjohn/linhan-zhang-fe-ecc-dssb-IS21-code-challenge-req101408.git
